*,
*::before,
*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
                    /* ANNOUNCEMENT STYLING */


.announcement-container{
    background-color: black;
    color: white;
    font-size: 1.6rem;
    padding: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    scroll-behavior: smooth;
}

.announcement-container a{
    outline: none;
    border: none;
    color: white;
    background-color: black;
    margin: 0px 30px;
}


                                /* NAVBARA  */

.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px; 
    width: 100%;
    height: 200px;
    box-shadow: 5px 5px 10px 0px #aaa;
}

.navbar-container .nav-items{
    display: flex;
}

.nav-items li,
.nav-icons li{
    list-style: none;
    margin-right: 17px;
}
.nav-items li a{
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
}

.nav-items li a::after{
    content: "";
    display: block;
    background-color: black;
    height: 2px;
    width: 0%;
    text-align: center;
    position: absolute;
    left: 40%;
    right: 40%;
    transition: all 0.2s ease-in-out;
}

.nav-items li a:hover::after{
    width: 100%;
    left: 0%;
    right: 0%;
}

.navbar-container .nav-icons{
    display: flex;
}

.navbar-container .nav-icons{
    font-size: 2rem;
    cursor: pointer;
}


                        /* CATALOG  */
.catalog{
    padding: 5rem 0;
}

.catalog .catalog-heading{
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.catalog .catalog-title{
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.catalog-items{
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    position: relative;
}


.catalog-items li{
    list-style: none;
    margin-right: 1.6rem;
}

.catalog-items li a{
    color: #666;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.catalog-items li a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    z-index: 2;
    background-color: black;
    position: absolute;
    left: 40%;
    right: 40%;
    transition: all 0.3s ease-in-out;
}

.catalog-items li a:hover::after{
    width: 100%;
    left: 0%;
    right: 0%;
}

.catalog-items li a:hover{
    font-size: 1.4rem;
    color: black;
}